/*------------ Login container ------------*/
.box-area {
    width: 950px;
}

/*------------ Right box ------------*/
.right-box {
    padding: 40px 30px 40px 40px;
}

#loginFoto{
    border-radius: 100px;
}




